---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import { Client, Environment } from "square";

const date = new Date();

if (import.meta.env.SQUARE_ACCESS_TOKEN === undefined) {
  console.log("No Square Access Token");
  return new Response("No Square Access Token", { status: 500 });
}
const client = await new Client({
  accessToken: import.meta.env.SQUARE_ACCESS_TOKEN,
  environment: Environment.Production,
});

const getCatalogItems = async () => {
  try {
    const response = await client.catalogApi.searchCatalogItems({
      limit: 50,
    });

    return response.result.items;
  } catch (error) {
    console.error(error);
  }
};

const items = await getCatalogItems();
const fetchInventory = async (item: any) => {
  try {
    const response = await client.inventoryApi.retrieveInventoryCount(
      item.itemData?.variations[0].id,
      "LT6VCG48B673C"
    );
    return response;
  } catch (error) {
    console.error(error);
  }
};
const fetchImageUrls = async (item: any) => {
  try {
    const response = await client.catalogApi.retrieveCatalogObject(
      item.itemData?.imageIds[0]
    );
    return response;
  } catch (error) {
    console.error(error);
  }
};
const fetchCategory = async (item: any) => {
  try {
    const response = await client.catalogApi.retrieveCatalogObject(
      item.itemData?.categoryId
    );
    return response;
  } catch (error) {
    console.error(error);
  }
};
const success = Astro.url.searchParams.get("success");
---

<Layout title="R&L Packaging">
  <header class="sticky top-0 z-50">
    <Navbar />
  </header>
  <main>
    {
      success && (
        <div class="alert alert-success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-current shrink-0 h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span>Your purchase has been confirmed!</span>
        </div>
      )
    }
    <section class="text-gray-600 body-font bg-neutral-300 min-h-screen">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          {
            items
              ? items.map(async (item) => {
                  const price =
                    item?.itemData?.variations &&
                    item?.itemData.variations[0].itemVariationData?.priceMoney
                      ?.amount;
                  const inventory = await fetchInventory(item);
                  const imgUrl = await fetchImageUrls(item);
                  const category = await fetchCategory(item);
                  return (
                    <div
                      class="lg:w-1/4 md:w-1/2 p-4 w-full md:tooltip"
                      data-tip={
                        item.itemData?.description
                          ? item.itemData.description
                          : "No Description For Product"
                      }
                    >
                      <a
                        class="block relative h-48 rounded overflow-hidden"
                        href={`./shop/${item.id}`}
                      >
                        <img
                          alt="ecommerce"
                          class="object-cover object-center w-full h-full block"
                          src={imgUrl?.result?.object?.imageData?.url}
                        />
                      </a>
                      <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
                          {category?.result.object?.categoryData?.name}
                        </h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">
                          {item.itemData?.name}
                        </h2>
                        <p class="mt-1">
                          {(Number(price) / 100).toLocaleString("en-US", {
                            style: "currency",
                            currency: "CAD",
                          })}
                          - Stock:
                          {inventory &&
                            inventory.result?.counts &&
                            inventory.result.counts[0].quantity}
                        </p>
                      </div>
                    </div>
                  );
                })
              : "Loading"
          }
        </div>
      </div>
    </section>
  </main>

  <footer
    class="footer footer-center p-10 bg-base-200 text-base-content rounded"
  >
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover home-scroll">Home</a>
      <a class="link link-hover about-scroll">About</a>
      <a class="link link-hover history-scroll">History</a>
      <a class="link link-hover contact-scroll">Contact</a>
    </div>
    <div>
      <p>
        Copyright © {date.getFullYear()} - All right reserved by R&L Packaging
      </p>
      <p class="text-xs">
        Website designed by <a href="https://jedborseth.com">Jed Borseth</a>
      </p>
    </div>
  </footer>
</Layout>
