---
interface Props {
  title: string;
  subtitle: string;
  item1: {
    title: string;
    description: string;
  };
  item2: {
    title: string;
    description: string;
  };
  item3: {
    title: string;
    description: string;
  };
}

const { title, subtitle, item1, item2, item3 } = Astro.props;
---

<section class="min-h-screen grid justify-items-center">
  <div class="sm:col-span-3 self-center">
    <h2 class="text-4xl flex justify-center">{title}</h2>
    <h3 class="text-center">
      {subtitle}
    </h3>
  </div>
  <article class="text-center px-3">
    <h3 class="text-3xl">{item1.title}</h3><p>
      {item1.description}
    </p>
  </article>
  <article class="text-center px-3">
    <h3 class="text-3xl">{item2.title}</h3><p>
      {item2.description}
    </p>
  </article>
  <article class="text-center px-3">
    <h3 class="text-3xl">{item3.title}</h3><p>
      {item3.description}
    </p>
  </article>
</section>
