---
interface Props {
  title: string;
  subtitle: string;
  item1: {
    title: string;
    description: string;
  };
  item2: {
    title: string;
    description: string;
  };
  item3: {
    title: string;
    description: string;
  };
}

const { title, subtitle, item1, item2, item3 } = Astro.props;
---

<section class="min-h-screen grid justify-items-center" id="about">
  <div class="sm:col-span-3 self-center">
    <h2 class="text-4xl flex justify-center">{title}</h2>
    <h3 class="text-center">
      {subtitle}
    </h3>
  </div>
  <article class="card bg-primary text-primary-content mx-5 h-min">
    <div class="card-body">
      <h2 class="card-title">{item1.title}</h2>
      <p>{item1.description}</p>
      <div class="card-actions justify-end">

      </div>
    </div>
  </article>
  <article class="card bg-primary text-primary-content mx-5 h-min">
    <div class="card-body">
      <h2 class="card-title">{item2.title}</h2>
      <p>{item2.description}</p>
      <div class="card-actions justify-end">

      </div>
    </div>
  </article>
  <article class="card bg-primary text-primary-content mx-5 h-min">
    <div class="card-body">
      <h2 class="card-title">{item3.title}</h2>
      <p>{item3.description}</p>
      <div class="card-actions justify-end">

      </div>
    </div>
  </article>
</section>
